In [2]:
import requests
import pandas as pd
from bs4 import BeautifulSoup

# Creating a soup object out of html document

# Create a tble object from html table contained in the soup object

In [40]:
from bs4 import BeautifulSoup

html_doc = """
<html>
    <body>
        <h1>Hello, BeautifulSoup!</h1>
        <table border="1" >
  <tr>
    <th>Student</th>
    <th>Favorite Computer Language</th>  
    <th>Years of Experience</th>
  </tr>
  <tr>
    <td>Fred</td>
    <td>Kotlin</td>
    <td>4</td>
  </tr>
  <tr>
    <td>Paula</td>
    <td>Python</td>
    <td>2</td>
  </tr>
  <tr>
    <td>Ernst</td>
    <td>Java</td>
    <td>7</td>
  </tr>
</table>
    </body>
</html>
"""


soup = BeautifulSoup(html_doc, 'html.parser')    


table = soup.find('table')
print(table)

<table border="1">
<tr>
<th>Student</th>
<th>Favorite COmputer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
</table>

In [49]:
headers = soup.find_all()
print(headers)

[<html>
<body>
<h1>Hello, BeautifulSoup!</h1>
<table border="1">
<tr>
<th>Student</th>
<th>Favorite COmputer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
</table>
</body>
</html>, <body>
<h1>Hello, BeautifulSoup!</h1>
<table border="1">
<tr>
<th>Student</th>
<th>Favorite COmputer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
</table>
</body>, <h1>Hello, BeautifulSoup!</h1>, <table border="1">
<tr>
<th>Student</th>
<th>Favorite COmputer Language</th>
<th>Years of Experience</th>
</tr>
<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>
</table>, <tr>
<th>Student</th>
<th>Favorite COmputer Language</th>
<th>Years of Experience</th>
</tr>, <th>Student</th>, <th>Favorite COmputer Language</th>, <th>Years of Experience</th>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <td>Fred</td>, <td>Kotlin</td>, <td>4</td>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <td>Paula</td>, <td>Python</td>, <td>2</td>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>, <td>Ernst</td>, <td>Java</td>, <td>7</td>]

# Finding all the headers in the scraped table

In [56]:
headers = soup.find_all("th")
print(headers)

[<th>Student</th>, <th>Favorite COmputer Language</th>, <th>Years of Experience</th>]

# Titles

In [58]:
titles = []
for i in headers:
    title = i.text
    titles.append(title)
    
print(titles)

['Student', 'Favorite COmputer Language', 'Years of Experience']

# Pandas DataFrame

In [59]:
df2 = pd.DataFrame(columns = titles)
print(df2)

Empty DataFrame
Columns: [Student, Favorite COmputer Language, Years of Experience]
Index: []

In [60]:
rows= table.find_all("tr")
print(rows)

[<tr>
<th>Student</th>
<th>Favorite COmputer Language</th>
<th>Years of Experience</th>
</tr>, <tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>, <tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>, <tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>]

In [61]:
for i in rows[1:8]:
    print(i)

<tr>
<td>Fred</td>
<td>Kotlin</td>
<td>4</td>
</tr>
<tr>
<td>Paula</td>
<td>Python</td>
<td>2</td>
</tr>
<tr>
<td>Ernst</td>
<td>Java</td>
<td>7</td>
</tr>

In [64]:
for i in rows[1:]:
    data = i.find_all("td")
    row = [tr.text for tr in data]
    l = len(df2)
    df2.loc[l] = row
    
df2.head(8)

  Student Favorite COmputer Language Years of Experience
0    Fred                     Kotlin                   4
1   Paula                     Python                   2
2   Ernst                       Java                   7
3    Fred                     Kotlin                   4
4   Paula                     Python                   2
5   Ernst                       Java                   7